html
    head
    title Este es un ejemplo
    include style.css
    body
    h1=mensaje
    div(style="display:inline-block")
        div 
            span=min 
            span(style="float:right")=max
        div(class="barra")
            div(class="indicador" style=`width:${nivel}%`)

