<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="ejs.min.js"></script>
    <script src="main.js"></script>
  </head>
  <body>
    <section>
      <div class="container">
        <div
          class="
            alert alert-success
            d-flex
            align-items-center
            justify-content-between
          "
          role="alert"
        >
          <span style="font-size: 1.5rem"
            >Bienvenido
            <b
              ><img src="<%= userData.photos[0].value %>" /><%=
              userData.displayName %></b
            >
          </span>

          <form action="/logout" method="get">
            <input
              type="submit"
              class="btn btn-warning"
              name="logout"
              value="Cerrar sesión"
            />
          </form>
        </div>
      </div>
    </section>
    <!-- PRODUCTOS -->
    <div class="container"><%- include('../form-productos.ejs') %></div>
    <section>
      <div class="container">
        <hr />
      </div>
    </section>
    <section>
      <div class="container">
        <article id="tablaProductos"></article>
      </div>
    </section>
    <section>
      <div class="container">
        <hr />
      </div>
    </section>
    <!-- MENSAJES -->
    <div class="container"><%- include('../form-mensajes.ejs') %></div>
  </body>
</html>
