    <form action="http://localhost:8080/api/productos/guardar" method="post">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descripción</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="title">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Precio</label>
            <input type="number" class="form-control" id="exampleInputPassword1" name="price">
          </div>
          <div class="mb-3 form-check">
            <label for="exampleInputPassword1" class="form-label">thumbnail</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="thumbnail">
          </div>
          <button type="submit" class="btn btn-primary">Guardar</button>
    </form>