    <div class="container-fluid mt-5">
      <div class="row row-cols-3 justify-content-center">
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="titleHelp" name="title">
          </div>
          <div class="mb-3">
            <input type="number" class="form-control" id="exampleInputPrecio" name="price">
          </div>
          <div class="mb-3">
            <input type="text" class="form-control" id="exampleInputThumbnail" name="thumbnail">
          </div>
          <div class="mb-3 text-center">
          <button type="submit" class="btn btn-primary" id="postGuardar" >Guardar</button>
          </div>
    </form>
    </div>
    </div>