<h1>Visualizar Productos</h1>
<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>        
    </tr>        
    </thead>
  <tbody>
   {{#each productos }}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td>{{this.thumbnail}}</td>      
    </tr>
   {{/each}}
   </tbody>
</table>